/* SCROLL */
.scrollborder {
  overflow: scroll;

  height: 100vh;
  width: 100vw;
}
.scrollborder:hover .cover-bar {
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#style-1::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: none;
}

#style-1::-webkit-scrollbar {
  width: 13px;
  background-color: none;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/* MAIN CSS */

.ag-header-cell-label {
  justify-content: center;
}
.ag-header-icon.ag-header-cell-menu-button {
  opacity: 1 !important;
}
.ag-cell-focus,
.ag-cell-no-focus {
  border: none !important;
}
/* This CSS is to not apply the border for the column having 'no-border' class */
.no-border.ag-cell:focus {
  border: none !important;
  outline: none;
}

/*
 * The override should be placed after the import of the theme.
 * Alternatively, you can aso increase the selector's specificity.
 */
.ag-theme-alpine .ag-icon-desc,
.ag-theme-alpine .ag-icon-asc,
.ag-theme-alpine .ag-icon-menu {
  font-family: "Font Awesome 5 Free";
  /* FontAwesome uses font-weight bold */
  font-weight: bold;
}

.ag-theme-alpine .ag-icon-desc::before {
  content: "\f0d7";
}

.ag-theme-alpine .ag-icon-asc::before {
  content: "\f0d8";
}

.ag-theme-alpine .ag-icon-menu::before {
  content: "\f0b0";
}

/* MODAL CSS */
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
}

.addrowmodal {
  position: fixed;
  z-index: 9999;
  background: #fff;
  width: 45%;
  border-radius: 0.5em;
  /* Center the modal */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-height: 95%;
  overflow: auto;
}

.rowselectmodal {
  position: fixed;
  z-index: 9999;
  background: #fff;
  width: 45%;
  border-radius: 0.5em;
  /* Center the modal */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 90%;
  overflow: auto;
}

.close-button {
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  color: black;
  font-size: 36px;
}

.close-button:hover {
  color: yellow;
}

.button {
  background: green;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background: orange;
}
